In [ ]:
# Import Libraries

def get_user_input():

def read_yahoo_api_data(ticker): # David

def read_crypto_data(ticker): # Gavin 

def clean_data(data):

def generate_predictions(ticker, data):

def generate_graphs(ticker, data): # Rob 

# Research Dashboard GUI - Jaime

def main():
    ticker = get_user_input()
    data = read_yahoo_api_data(ticker)
    data = clean_data(data)
    generate_predictions(ticker, data)
    generate_graphs(ticker, data)

if __name__ == "__main__":
    main()

## Read Yahoo Finance Data

In [1]:
# Install the Yahoo Finance library
!pip install yfinance

Requirement already satisfied: yfinance in /opt/anaconda3/lib/python3.11/site-packages (0.2.38)
Requirement already satisfied: pandas>=1.3.0 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (2.1.4)
Requirement already satisfied: numpy>=1.16.5 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (3.17.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /opt/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2024.2.2)

In [2]:
# Import the Yahoo Finance library
import yfinance as yf
import pandas as pd
from prophet import Prophet

In [3]:
# Call the Ticker module with user inputed ticker value
tickerList = input("What ticker symbols would you like to analyze? (Please separate with a comma): ").split(',')
tickerListOutput = []
for x in tickerList:
    ticker = yf.Ticker(x)
    ticker.info
    ticker_history = ticker.history(period="1mo")
    ticker_history
    tickerListOutput.append({
        "history": ticker_history, 
        "info": ticker.info
        })

{'address1': 'One Microsoft Way',
 'city': 'Redmond',
 'state': 'WA',
 'zip': '98052-6399',
 'country': 'United States',
 'phone': '425 882 8080',
 'website': 'https://www.microsoft.com',
 'industry': 'Software - Infrastructure',
 'industryKey': 'software-infrastructure',
 'industryDisp': 'Software - Infrastructure',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Microsoft Corporation develops and supports software, services, devices and solutions worldwide. The Productivity and Business Processes segment offers office, exchange, SharePoint, Microsoft Teams, office 365 Security and Compliance, Microsoft viva, and Microsoft 365 copilot; and office consumer services, such as Microsoft 365 consumer subscriptions, Office licensed on-premises, and other office services. This segment also provides LinkedIn; and dynamics business solutions, including Dynamics 365, a set of intelligent, cloud-based applications across ERP, CRM, power apps, and power automate; and on-premises ERP and CRM applications. The Intelligent Cloud segment offers server products and cloud services, such as azure and other cloud services; SQL and windows server, visual studio, system center, and related client access licenses, as well as nuance and GitHub; and enterprise services including enterprise support services, industry solutions, and nuance professional services. The More Personal Computing segment offers Windows, including windows OEM licensing and other non-volume licensing of the Windows operating system; Windows commercial comprising volume licensing of the Windows operating system, windows cloud services, and other Windows commercial offerings; patent licensing; and windows Internet of Things; and devices, such as surface, HoloLens, and PC accessories. Additionally, this segment provides gaming, which includes Xbox hardware and content, and first- and third-party content; Xbox game pass and other subscriptions, cloud gaming, advertising, third-party disc royalties, and other cloud services; and search and news advertising, which includes Bing, Microsoft News and Edge, and third-party affiliates. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online, and retail stores. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'fullTimeEmployees': 221000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Satya  Nadella',
   'age': 56,
   'title': 'Chairman & CEO',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'totalPay': 9276400,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Bradford L. Smith LCA',
   'age': 64,
   'title': 'President & Vice Chairman',
   'yearBorn': 1959,
   'fiscalYear': 2023,
   'totalPay': 3591277,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Amy E. Hood',
   'age': 51,
   'title': 'Executive VP & CFO',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'totalPay': 3452196,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Judson B. Althoff',
   'age': 49,
   'title': 'Executive VP & Chief Commercial Officer',
   'yearBorn': 1974,
   'fiscalYear': 2023,
   'totalPay': 3355797,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher David Young',
   'age': 51,
   'title': 'Executive Vice President of Business Development, Strategy & Ventures',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'totalPay': 2460507,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Alice L. Jolla',
   'age': 56,
   'title': 'Corporate VP & Chief Accounting Officer',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James Kevin Scott',
   'age': 51,
   'title': 'Executive VP of AI & CTO',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Brett  Iversen',
   'title': 'Vice President of Investor Relations',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Hossein  Nowbar',
   'title': 'Chief Legal Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Frank X. Shaw',
   'title': 'Chief Communications Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 3,
 'boardRisk': 5,
 'compensationRisk': 2,
 'shareHolderRightsRisk': 2,
 'overallRisk': 1,
 'governanceEpochDate': 1714521600,
 'compensationAsOfEpochDate': 1703980800,
 'irWebsite': 'http://www.microsoft.com/investor/default.aspx',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 406.66,
 'open': 408.7,
 'dayLow': 406.47,
 'dayHigh': 413.88,
 'regularMarketPreviousClose': 406.66,
 'regularMarketOpen': 408.7,
 'regularMarketDayLow': 406.47,
 'regularMarketDayHigh': 413.88,
 'dividendRate': 3.0,
 'dividendYield': 0.0073,
 'exDividendDate': 1715731200,
 'payoutRatio': 0.24780001,
 'fiveYearAvgDividendYield': 0.94,
 'beta': 0.877,
 'trailingPE': 35.835358,
 'forwardPE': 33.593826,
 'volume': 16346811,
 'regularMarketVolume': 16346811,
 'averageVolume': 20750735,
 'averageVolume10days': 22845000,
 'averageDailyVolume10Day': 22845000,
 'bid': 413.46,
 'ask': 413.64,
 'bidSize': 100,
 'askSize': 100,
 'marketCap': 3073557397504,
 'fiftyTwoWeekLow': 306.26,
 'fiftyTwoWeekHigh': 430.82,
 'priceToSalesTrailing12Months': 12.991401,
 'fiftyDayAverage': 413.475,
 'twoHundredDayAverage': 370.61264,
 'trailingAnnualDividendRate': 2.93,
 'trailingAnnualDividendYield': 0.0072050365,
 'currency': 'USD',
 'enterpriseValue': 3099771797504,
 'profitMargins': 0.36426997,
 'floatShares': 7420785720,
 'sharesOutstanding': 7432309760,
 'sharesShort': 56321541,
 'sharesShortPriorMonth': 54210656,
 'sharesShortPreviousMonthDate': 1710460800,
 'dateShortInterest': 1713139200,
 'sharesPercentSharesOut': 0.0076,
 'heldPercentInsiders': 0.00054000004,
 'heldPercentInstitutions': 0.73730004,
 'shortRatio': 2.94,
 'shortPercentOfFloat': 0.0076,
 'impliedSharesOutstanding': 7432309760,
 'bookValue': 34.058,
 'priceToBook': 12.142229,
 'lastFiscalYearEnd': 1688083200,
 'nextFiscalYearEnd': 1719705600,
 'mostRecentQuarter': 1711843200,
 'earningsQuarterlyGrowth': 0.199,
 'netIncomeToCommon': 86181003264,
 'trailingEps': 11.54,
 'forwardEps': 12.31,
 'pegRatio': 2.46,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1045526400,
 'enterpriseToRevenue': 13.102,
 'enterpriseToEbitda': 24.762,
 '52WeekChange': 0.32462537,
 'SandP52WeekChange': 0.24486005,
 'lastDividendValue': 0.75,
 'lastDividendDate': 1707868800,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'underlyingSymbol': 'MSFT',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'firstTradeDateEpochUtc': 511108200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'b004b3ec-de24-385e-b2c1-923f10d3fb62',
 'messageBoardId': 'finmb_21835',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 413.54,
 'targetHighPrice': 510.51,
 'targetLowPrice': 276.7,
 'targetMeanPrice': 438.28,
 'targetMedianPrice': 440.89,
 'recommendationMean': 1.7,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 48,
 'totalCash': 80013000704,
 'totalCashPerShare': 10.766,
 'ebitda': 125182001152,
 'totalDebt': 106228998144,
 'quickRatio': 1.132,
 'currentRatio': 1.242,
 'totalRevenue': 236583993344,
 'debtToEquity': 41.963,
 'revenuePerShare': 31.834,
 'returnOnAssets': 0.15295,
 'returnOnEquity': 0.38487998,
 'freeCashflow': 61497999360,
 'operatingCashflow': 110122999808,
 'earningsGrowth': 0.2,
 'revenueGrowth': 0.17,
 'grossMargins': 0.69894,
 'ebitdaMargins': 0.52911997,
 'operatingMargins': 0.44588003,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.0466}

In [4]:
# Create a DataFrame with the financial history of one ticker value within the designated period
# validRanges: ['1d','5d','1mo','3mo','6mo','1y','2y','5y','10y','ytd','max']
ticker_history = ticker.history(period="1mo")
ticker_history

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-04-08 00:00:00-04:00,425.170013,427.279999,423.299988,424.589996,14272400,0.0,0.0
2024-04-09 00:00:00-04:00,426.440002,427.739990,421.619995,426.279999,12512300,0.0,0.0
2024-04-10 00:00:00-04:00,422.190002,424.029999,419.700012,423.260010,16216600,0.0,0.0
2024-04-11 00:00:00-04:00,425.820007,429.369995,422.359985,427.929993,17966400,0.0,0.0
2024-04-12 00:00:00-04:00,424.049988,425.179993,419.769989,421.899994,19232100,0.0,0.0
2024-04-15 00:00:00-04:00,426.600006,426.820007,413.429993,413.640015,20273500,0.0,0.0
2024-04-16 00:00:00-04:00,414.570007,418.399994,413.730011,414.579987,16765600,0.0,0.0
2024-04-17 00:00:00-04:00,417.250000,418.880005,410.329987,411.839996,15855500,0.0,0.0
2024-04-18 00:00:00-04:00,410.630005,411.890015,403.950012,404.269989,21029900,0.0,0.0
2024-04-19 00:00:00-04:00,404.029999,405.480011,397.769989,399.119995,30276500,0.0,0.0
2024-04-22 00:00:00-04:00,400.079987,402.850006,395.750000,400.959991,20286900,0.0,0.0
2024-04-23 00:00:00-04:00,404.239990,408.200012,403.059998,407.570007,15734500,0.0,0.0
2024-04-24 00:00:00-04:00,409.559998,412.470001,406.779999,409.059998,15065300,0.0,0.0
2024-04-25 00:00:00-04:00,394.029999,399.890015,388.029999,399.040009,40586500,0.0,0.0
2024-04-26 00:00:00-04:00,412.170013,413.000000,405.760010,406.320007,29694700,0.0,0.0
2024-04-29 00:00:00-04:00,405.250000,406.320007,399.190002,402.250000,19582100,0.0,0.0
2024-04-30 00:00:00-04:00,401.489990,402.160004,389.170013,389.329987,28781400,0.0,0.0
2024-05-01 00:00:00-04:00,392.609985,401.720001,390.309998,394.940002,23562500,0.0,0.0
2024-05-02 00:00:00-04:00,397.660004,399.929993,394.649994,397.839996,17709400,0.0,0.0
2024-05-03 00:00:00-04:00,402.279999,407.149994,401.859985,406.660004,17446700,0.0,0.0
2024-05-06 00:00:00-04:00,408.760010,413.929993,406.369995,413.540009,16968700,0.0,0.0

In [5]:
# Create a DataFrame with the financial history of multiple ticker values within the designated period
# validRanges: ['1d','5d','1mo','3mo','6mo','1y','2y','5y','10y','ytd','max']
multi_ticker = yf.download("SPY AAPL", period="1mo")
multi_ticker

[*********************100%%**********************]  2 of 2 completed

Price        Adj Close                   Close                    High  \
Ticker            AAPL         SPY        AAPL         SPY        AAPL
Date
2024-04-08  168.449997  518.719971  168.449997  518.719971  169.199997
2024-04-09  169.669998  519.320007  169.669998  519.320007  170.080002
2024-04-10  167.779999  514.119995  167.779999  514.119995  169.089996
2024-04-11  175.039993  518.000000  175.039993  518.000000  175.460007
2024-04-12  176.550003  510.850006  176.550003  510.850006  178.360001
2024-04-15  172.690002  504.450012  172.690002  504.450012  176.630005
2024-04-16  169.380005  503.529999  169.380005  503.529999  173.759995
2024-04-17  168.000000  500.549988  168.000000  500.549988  170.649994
2024-04-18  167.039993  499.519989  167.039993  499.519989  168.639999
2024-04-19  165.000000  495.160004  165.000000  495.160004  166.399994
2024-04-22  165.839996  499.720001  165.839996  499.720001  167.259995
2024-04-23  166.899994  505.649994  166.899994  505.649994  167.050003
2024-04-24  169.020004  505.410004  169.020004  505.410004  169.300003
2024-04-25  169.889999  503.489990  169.889999  503.489990  170.610001
2024-04-26  169.300003  508.260010  169.300003  508.260010  171.339996
2024-04-29  173.500000  510.059998  173.500000  510.059998  176.029999
2024-04-30  170.330002  501.980011  170.330002  501.980011  174.990005
2024-05-01  169.300003  500.350006  169.300003  500.350006  172.710007
2024-05-02  173.029999  505.029999  173.029999  505.029999  173.419998
2024-05-03  183.380005  511.290009  183.380005  511.290009  187.000000
2024-05-06  181.710007  516.570007  181.710007  516.570007  184.199997

Price                          Low                    Open              \
Ticker             SPY        AAPL         SPY        AAPL         SPY
Date
2024-04-08  520.179993  168.240005  517.890015  169.029999  519.150024
2024-04-09  520.750000  168.350006  514.349976  168.699997  520.500000
2024-04-10  516.159973  167.110001  512.090027  168.800003  513.479980
2024-04-11  519.479980  168.160004  512.080017  168.339996  515.679993
2024-04-12  515.820007  174.210007  509.079987  174.259995  514.369995
2024-04-15  515.299988  172.500000  503.579987  175.360001  515.130005
2024-04-16  506.500000  168.270004  502.209991  171.750000  504.940002
2024-04-17  506.220001  168.000000  499.119995  169.610001  506.049988
2024-04-18  504.130005  166.550003  498.559998  168.029999  501.980011
2024-04-19  500.459991  164.080002  493.859985  166.210007  499.440002
2024-04-22  502.380005  164.770004  495.429993  165.520004  497.829987
2024-04-23  506.089996  164.919998  499.529999  165.350006  501.779999
2024-04-24  507.369995  166.210007  503.130005  166.539993  506.559998
2024-04-25  504.269989  168.149994  497.489990  169.529999  499.179993
2024-04-26  509.880005  169.179993  505.700012  169.880005  506.350006
2024-04-29  510.750000  173.100006  507.250000  173.369995  510.089996
2024-04-30  509.559998  170.000000  501.980011  173.330002  508.559998
2024-05-01  508.190002  169.110001  499.869995  169.580002  501.380005
2024-05-02  505.890015  170.889999  499.549988  172.509995  504.149994
2024-05-03  512.549988  182.660004  508.559998  186.649994  511.160004
2024-05-06  516.609985  180.419998  513.299988  182.350006  513.750000

Price          Volume
Ticker           AAPL        SPY
Date
2024-04-08   37425500   48401800
2024-04-09   42451200   68124400
2024-04-10   49709300   82652800
2024-04-11   91070300   70099000
2024-04-12  101593300   92469100
2024-04-15   73531800   92101400
2024-04-16   73711200   73484000
2024-04-17   50901200   75910300
2024-04-18   43122900   74548100
2024-04-19   67772100  102129100
2024-04-22   48116400   67961000
2024-04-23   49537800   64633600
2024-04-24   48251800   55928100
2024-04-25   50558300   69122400
2024-04-26   44838400   64306100
2024-04-29   68169400   46415400
2024-04-30   65934800   77483600
2024-05-01   50383100   80242800
2024-05-02   94214900   62550200
2024-05-03  163224100   72756700
2024-05-06   78057800   47144100

In [6]:
# Some interesting calls that we could use
# msft.news
# msft.recommendations
# msft.income_stmt
# msft.balance_sheet

prophet = Prophet()
for x in tickerListOutput:
    columns = x["history"].reset_index()
    prophet.fit(columns[["Date","Close"]].rename(columns={"Date":"ds","Close":"y"}))

In [7]:
# Call the Ticker module with the ticker value for Bitcoin
btc = yf.Ticker("BTC-USD")
btc.info

{'name': 'Bitcoin',
 'startDate': 1278979200,
 'description': 'Bitcoin (BTC) is a cryptocurrency launched in 2010. Users are able to generate BTC through the process of mining. Bitcoin has a current supply of 19,694,712. The last known price of Bitcoin is 65,197.19013336 USD and is up 2.40 over the last 24 hours. It is currently trading on 11024 active market(s) with $20,447,945,694.00 traded over the last 24 hours. More information can be found at https://bitcoin.org/.',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 63163.45,
 'open': 63163.45,
 'dayLow': 62961.508,
 'dayHigh': 63919.45,
 'regularMarketPreviousClose': 63163.45,
 'regularMarketOpen': 63163.45,
 'regularMarketDayLow': 62961.508,
 'regularMarketDayHigh': 63919.45,
 'volume': 30476435456,
 'regularMarketVolume': 30476435456,
 'averageVolume': 37770550904,
 'averageVolume10days': 27872199578,
 'averageDailyVolume10Day': 27872199578,
 'marketCap': 1253124341760,
 'fiftyTwoWeekLow': 24797.168,
 'fiftyTwoWeekHigh': 73750.07,
 'fiftyDayAverage': 66040.24,
 'twoHundredDayAverage': 50014.168,
 'currency': 'USD',
 'fromCurrency': 'BTC',
 'toCurrency': 'USD=X',
 'lastMarket': 'CoinMarketCap',
 'coinMarketCapLink': 'https://coinmarketcap.com/currencies/bitcoin',
 'volume24Hr': 30476435456,
 'volumeAllCurrencies': 30476435456,
 'circulatingSupply': 19694996,
 'exchange': 'CCC',
 'quoteType': 'CRYPTOCURRENCY',
 'symbol': 'BTC-USD',
 'underlyingSymbol': 'BTC-USD',
 'shortName': 'Bitcoin USD',
 'longName': 'Bitcoin USD',
 'firstTradeDateEpochUtc': 1410912000,
 'timeZoneFullName': 'UTC',
 'timeZoneShortName': 'UTC',
 'uuid': '74397779-1589-3270-8c45-b7f1a7345b3a',
 'messageBoardId': 'finmb_BTC_CCC',
 'trailingPegRatio': None}

In [8]:
# Create a DataFrame with the financial history of Bitcoin within the designated period
btc_hist = btc.history(period="1mo")
btc_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-04-07 00:00:00+00:00,68897.109375,70284.429688,68851.632812,69362.554688,21204930369,0.0,0.0
2024-04-08 00:00:00+00:00,69362.554688,72715.359375,69064.242188,71631.359375,37261432669,0.0,0.0
2024-04-09 00:00:00+00:00,71632.500000,71742.507812,68212.921875,69139.015625,36426900409,0.0,0.0
2024-04-10 00:00:00+00:00,69140.242188,71093.429688,67503.562500,70587.882812,38318601774,0.0,0.0
2024-04-11 00:00:00+00:00,70575.734375,71256.234375,69571.812500,70060.609375,30153382941,0.0,0.0
2024-04-12 00:00:00+00:00,70061.382812,71222.742188,65254.835938,67195.867188,44129299406,0.0,0.0
2024-04-13 00:00:00+00:00,67188.375000,67931.429688,60919.105469,63821.472656,52869738185,0.0,0.0
2024-04-14 00:00:00+00:00,63836.230469,65824.429688,62205.851562,65738.726562,49084320047,0.0,0.0
2024-04-15 00:00:00+00:00,65739.648438,66878.648438,62332.070312,63426.210938,43595917654,0.0,0.0
2024-04-16 00:00:00+00:00,63419.296875,64355.667969,61716.402344,63811.863281,42847528078,0.0,0.0
2024-04-17 00:00:00+00:00,63831.847656,64486.363281,59768.585938,61276.691406,41915247049,0.0,0.0
2024-04-18 00:00:00+00:00,61275.316406,64125.687500,60833.480469,63512.753906,36006307335,0.0,0.0
2024-04-19 00:00:00+00:00,63510.750000,65481.597656,59651.390625,63843.570312,49920425401,0.0,0.0
2024-04-20 00:00:00+00:00,63851.101562,65442.457031,63172.402344,64994.441406,23097485495,0.0,0.0
2024-04-21 00:00:00+00:00,64992.816406,65723.242188,64277.722656,64926.644531,20506644853,0.0,0.0
2024-04-22 00:00:00+00:00,64935.632812,67233.960938,64548.179688,66837.679688,28282686673,0.0,0.0
2024-04-23 00:00:00+00:00,66839.890625,67199.242188,65864.867188,66407.273438,24310975583,0.0,0.0
2024-04-24 00:00:00+00:00,66408.718750,67075.367188,63589.871094,64276.898438,30276655120,0.0,0.0
2024-04-25 00:00:00+00:00,64275.019531,65275.207031,62783.632812,64481.707031,32155786816,0.0,0.0
2024-04-26 00:00:00+00:00,64485.371094,64789.656250,63322.398438,63755.320312,24139372950,0.0,0.0
2024-04-27 00:00:00+00:00,63750.988281,63898.363281,62424.718750,63419.140625,19530783039,0.0,0.0
2024-04-28 00:00:00+00:00,63423.515625,64321.484375,62793.597656,63113.230469,17334827993,0.0,0.0
2024-04-29 00:00:00+00:00,63106.363281,64174.878906,61795.457031,63841.121094,26635912073,0.0,0.0
2024-04-30 00:00:00+00:00,63839.417969,64703.332031,59120.066406,60636.855469,37840840057,0.0,0.0
2024-05-01 00:00:00+00:00,60609.496094,60780.500000,56555.292969,58254.011719,48439780271,0.0,0.0
2024-05-02 00:00:00+00:00,58253.703125,59602.296875,56937.203125,59123.433594,32711813559,0.0,0.0
2024-05-03 00:00:00+00:00,59122.300781,63320.503906,58848.312500,62889.835938,33172023048,0.0,0.0
2024-05-04 00:00:00+00:00,62891.031250,64494.957031,62599.351562,63891.472656,20620477992,0.0,0.0
2024-05-05 00:00:00+00:00,63892.453125,64610.890625,62955.304688,64031.132812,18296164805,0.0,0.0
2024-05-07 00:00:00+00:00,63163.449219,63919.449219,62961.507812,63626.535156,30476435456,0.0,0.0